<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Async Mail Demo</title>
</head>

<body>
    <h2>Send email</h2>
    <form th:action="@{/thy/send}"
          method="post">
        <label for="email">Send email to:</label>
        <input id="email"
               name="email"
               type="email"
               th:value="${email}"
               required />
        <button type="submit">Send email</button>
    </form>
    <div>
        <strong>Status:</strong>
        <span th:text="${status}">N/A</span>
    </div>
    <p>
        <a th:href="@{/thy/response}">Refresh</a>
    </p>
</body>

</html>