<h2 th:text="${msg.veterinarians}">Veterinarians</h2>

<table id="vets" class="table table-striped">
    <thead>
        <tr>
            <th th:text="${msg.name}">Name</th>
            <th th:text="${msg.specialties}">Specialties</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.firstName + ' ' + vet.lastName}">Name</td>
            <td>
                <span th:each="s : ${vet.specialties}" th:text="${s.name + ' '}">Specialty</span>
                <span th:if="${vet.nrOfSpecialties == 0}" th:text="${msg.none}">None</span>
            </td>
        </tr>
    </tbody>
</table>
