<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View</title>
    <link rel="stylesheet" th:href="@{/css/jsfcrud.css}"/>
</head>
<body>
    <h1>View</h1>
    <p>
        <div th:if="${successMessage}" style="color: green;" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" style="color: #d20005;" th:text="${errorMessage}"></div>

        <table>
            <tr>
                <td>Id:</td>
                <td th:text="${contact.id}"></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td th:text="${contact.firstName}"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td th:text="${contact.lastName}"></td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td th:text="${contact.birthday != null ? #dates.format(contact.birthday, 'MM/dd/yyyy') : ''}"></td>
            </tr>
            <tr>
                <td>Home Phone:</td>
                <td th:text="${contact.homePhone}"></td>
            </tr>
            <tr>
                <td>Mobile Phone:</td>
                <td th:text="${contact.mobilePhone}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td th:text="${contact.email}"></td>
            </tr>
        </table>
        <br/>
        <form th:action="@{/contact/Delete/{id}(id=${contact.id})}" method="post" style="display:inline">
            <button type="submit" style="background:none;border:none;color:black;cursor:pointer;text-decoration:underline;font-size:small;padding:0;">Destroy</button>
        </form>
        <br/><br/>
        <a th:href="@{/contact/Edit/{id}(id=${contact.id})}">Edit</a>
        <br/>
        <a th:href="@{/contact/Create}">Create New Contact</a>
        <br/>
        <a th:href="@{/contact/List}">Show All Contact Items</a>
        <br/><br/>
        <a th:href="@{/}">Index</a>
    </p>
</body>
</html>
